@import '~bootstrap/scss/bootstrap';

.row {
  border: 1px solid black;
  height: 75px;
  width: 200px;
}

h1 {
  color: red;
}

.box {
  border: 1px solid black;
}

body {
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-end;
  margin: auto;
  width: auto;
  //border: 1px solid black;
}

// .box-one {
//   height: 50px;
//   width: 30px;
//   background-color: red;
// }

.auth-container {
    margin-top: 3vh;
    height: 97vh;
    width: 50vw;
  }

.game-container {
  display: none;
  margin-top: 3vh;
  height: 97vh;
  width: 50vw;
}

#game-board {
  display: none;
}

.home {
  display: none;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-jumbotron {
  margin-top: 3vh;
  height: 97vh;
  width: 50vw;
}

.start-jumbotron {
  display: flex;
  margin-top: 3vh;
  height: 97vh;
  width: 50vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.key {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: gold;
}

.down {
  font-family: 'Monofett', cursive;
  font-size: 50px;
}
