@import '~bootstrap/scss/bootstrap';

.row {
  height: 75px;
  width: 190px;

}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: red;
}

.box {
  border-bottom: 2px solid black;
}

body {
  margin: auto;
  width: auto;
}

.auth-container {
    margin-top: 3vh;
    height: 97vh;
    width: 50vw;
    font-family: 'Press Start 2P', cursive;
  }

.game-container {
  display: none;
  margin-top: 3vh;
  height: 97vh;
  width: 50vw;
}

#game-board {
  display: none;
}

.home {
  display: none;
  font-family: 'Press Start 2P', cursive;

}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-jumbotron {
  margin-top: 3vh;
  height: 97vh;
  width: 50vw;
}

.start-jumbotron {
  display: flex;
  margin-top: 3vh;
  height: 97vh;
  width: 50vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.key {
  font-family: 'Press Start 2P', cursive;
  font-size: 35px;
  color: gold;
}

.down {
  font-family: 'Monofett', cursive;
  font-size: 70px;
}

.final-score {
  font-family: 'Press Start 2P', cursive;
}

 .accuracy {
  font-family: 'Press Start 2P', cursive;
}

.score {
  font-family: 'Press Start 2P', cursive;
}

#countdown {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

nav {
  border-bottom: 1px solid black;
}

.replay {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: gold;
  font-family: 'Press Start 2P', cursive;
}

.start-game {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: gold;
  font-family: 'Press Start 2P', cursive;
}

.btn-primary {
  background: gold;
  border: 0;
  color: black;
}

#sign-in-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

#sign-up-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.alert {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

#change-password-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

#sign-out-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

#home-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

#index-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

// .listed-items {
//   font-family: 'Press Start 2P', cursive;
//   font-size: 12px;
//   text-align: center;
// }

#delete {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: gold;
  font-family: 'Press Start 2P', cursive;
}

#change-password-modal {
  font-family: 'Press Start 2P', cursive;
}

#user-message {
  height: 10px;
}

.my-scores {
  display: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  text-align: center;
}

#top-scores {
  border-bottom: 3px solid black;
}

.btn-default {
  background-color: gold;
}

#1 {
  border-radius: 0 0 0 5px;
}

#4 {
  border-radius: 0 0 5px;
}

#21 {
  border-radius: 5px 0 0;
}

#24 {
  border-radius: 0 5px 0 0;
}
